
body{
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    background-image: url("images/backgroud.png");
    background-position: center;
    background-size: cover;
    border: 3px dotted #FFF8DC;
    
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-family: 'Sofia';font-size: 22px;
}

h2 {
   font-family: 'Sofia';font-size: 22px;
}

p {
    word-spacing: normal;
    text-align: center;
    text-justify: inter-word;
    font-family: Garamond, serif;
    font-size: 18px;
    font-weight: normal;
    color: bisque;
}
