
body{
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    background-image: url("images/backgroud.png");
    background-position: center;
    background-size: cover;
    border: 3px dotted #FFF8DC;
    text-align: center;   
}

h1 {
    font-family: "Sofia", sans-serif;
    font-size: 50px;
    color: bisque;
}

p {
    word-spacing: normal;
    text-align: center;
    text-justify: inter-word;
    font-family: Garamond, serif;
    font-size: 18px;
    font-weight: normal;
    color: bisque;
}
